.article {
  &__caption {
    @include font(26px, 28px, bold, #6B6B6B);
    @include inline-block();
    margin: 0 0 30px;
    box-shadow: 0 4px 0 0 #6B6B6B;
  }
  &__title {
    @include font(26px, 28px, bold, dodgerblue);
    margin: 0 0 10px;
    cursor: pointer;
  }
  &__title:hover {
    opacity: 0.6;
  }
  &__description {
    @include font(16px, 18px, normal, #6B6B6B);
    margin: 0 0 10px;
  }
  &__items {
    width: 760px;
    box-sizing: border-box;
  }
  &__content,
  &__items {
    opacity: 0;
  }
  &__content-enter-done,
  &__items-enter-done {
    animation-name: articleContent;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  &__content-exit-active,
  &__items-exit-active {
    animation-name: articleContent;
    animation-duration: 1s;
    animation-direction: reverse;
  }

}
