h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
#container {
  width: 1200px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}
@keyframes articleContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
